/* Variables */
:root {
    --primary: rgba(49,0,71,1);
    
}

/* Reset */

/* Base Style */
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: darkgrey;
}
header.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: var(--primary);
    box-shadow: 0px 0px 50px black inset;
    border: 1px solid black;
    grid-gap: 10px;
}
.logo *, .notif * {
    width: 50px;
    height: 50px;
    max-width: 100%;
}
.logo {
    grid-column: 4 / 10;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img {
    width: 50px;
}
.notif {
    grid-column: 10 / 13;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: beige;
    grid-column: 1 / 4;
    border-radius: 50px;
    height: auto;
    justify-self: start;
    margin: 20px;
}
.profilePic {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 10px;
}
.menu {
    width: 25px;
    height: 25px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;
    cursor: pointer;
    margin: auto 25px auto 10px;
}
.menu * {
    grid-column: span 1;
    grid-row: span 1;
    border: 1px solid black;
    border-radius: 20%;
    background-color: black;
    transition: 0.4s;
}
.clicked .top {
  transform: translate(0, 11px) rotate(-45deg);
}
.clicked .mid {opacity: 0;}
.clicked .bot {
  transform: translate(0, -11px) rotate(45deg);
}

/* Fonts */
@font-face {
    font-family: "BlackwoodCastle";
    src: url("../week2/fonts/BlackwoodCastle.ttf");
}

@font-face {
    font-family: "BlackwoodCastleShadow";
    src: url("../week2/fonts/BlackwoodCastleShadow.ttf");
}

/* Mobile Styles */

/* Small Tablet Styles */
@media screen and (min-width: 620px) {
    body {
    }
}

/* Large Tablets & Laptop Styles */
@media screen and (min-width: 960px) {
}

/* Desktop Styles */
@media screen and (min-width: 1020px) {
}