/* Variables */
:root {
    --primary: rgba(49,0,71,1);
    
}

/* Reset */

/* Base Style */
.form-control::-webkit-input-placeholder {
    color: white;
}
.navbar-toggler {
    display: inline !important;
}
div.main {
    height: 100vh;
    overflow: auto;
    padding: 0;
    flex: 1;
}
div.side-expanded {
    flex-basis: 5rem;
}
div.side-shrunk {
    position: static;
    height: 100vh;
    width: 5rem;
}
div.side-shrunk span {
    display: none;
}

/* Fonts */
@font-face {
    font-family: "BlackwoodCastle";
    src: url("../week2/fonts/BlackwoodCastle.ttf");
}

@font-face {
    font-family: "BlackwoodCastleShadow";
    src: url("../week2/fonts/BlackwoodCastleShadow.ttf");
}

/* Extra Small Breakpoint */
.carousel-buttons {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    padding: 0.5rem 0;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.carousel-buttons::-webkit-scrollbar {
    display: none;
}

.carousel-buttons button {
    flex: none;
    scroll-snap-align: start;
    height: 5rem;
    width: 5rem;
}

.carousel-buttons button:first-child {
    margin-left: 0;
}

.carousel-buttons button:nth-child(2),
.carousel-buttons button:nth-child(3),
.carousel-buttons button:nth-child(5) {
    width: 7rem;
}

.carousel-buttons button:nth-child(2) img {
    filter: brightness(0%) invert(1);
    width: 2.5rem;
}

.carousel-buttons button:nth-child(3) img {
    width: 3rem;
}

.carousel-buttons button:nth-child(4) {
    width: 6.5rem;
}

.carousel-buttons button:nth-child(4) img {
    filter: brightness(0%) invert(1);
    width: 3.5rem;
}

.carousel-buttons button:nth-child(6) {
    width: 6.75rem;
}

/* Small Breakpoint */
@media screen and (min-width: 576px) {
    
}

/* Medium Breakpoint */
@media screen and (min-width: 768px) {
    div.side-expanded {
        position: static;
        height: 100vh;
        width: 7rem;
    }
    .carousel-buttons {
        flex-direction: column;
        overflow-x: visible;
        scroll-snap-type: none;
        /* overflow: hidden; */
    }
    .carousel-buttons button {
        border-radius: 0;
        border: 0;
        border-bottom: 1px solid;
    }
    .carousel-buttons button:nth-child(7) {
        border: 0;
        border-top: 1px solid;
    }
    div.side-expanded .carousel-buttons button {
        width: 7rem !important;
    }
    div.side-shrunk .carousel-buttons button {
        width: 5rem !important;
        padding: 0 !important;
    }
}

/* Large Breakpoint */
@media screen and (min-width: 992px) {
    
}

/* Extra Large Breakpoint */
@media screen and (min-width: 1200px) {
}

/* Extra Extra Large Breakpoint */
@media screen and (min-width: 1400px) {
}