@font-face {
    font-family: "BlackwoodCastleShadow";
    src: url("fonts/BlackwoodCastleShadow.ttf");
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    background-image: url("images/pokemon_background.jpg");
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bodyContainer {
    height: 90vh;
    width: 95vw;    
    background-color: RGBA(40,1,56,0.5);
    box-sizing: border-box;
    border-radius: 25px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.pokemonTitleContainer {
    height: 35%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.pokemonImageLeft, .pokemonImageRight {
    margin: 25px;
    margin-left: 0px;
    height: 200px;
    width: 200px;
    border: 5px solid #280137;
    border-radius: 100%;
}
.pokemonImageRight
{
    margin-left: 25px;
    margin-right: 0px;
}
.pokemonName {
    font-size: 100px;
    color: ghostwhite;
    background-color: #280137;
    border-radius: 10px;
    padding: 0px 20px;
    font-family: "BlackwoodCastleShadow";
}
.pokemoneTitleImage {
    margin: 15px;
    width: 500px;
    height: 500px;
}
a {
    display: none;
    font-size: 25px;
    color: ghostwhite;
}