@font-face {
    font-family: "BlackwoodCastleShadow";
    src: url("fonts/BlackwoodCastleShadow.ttf");
}

p {
    color: cyan;
}
a {
    color: whitesmoke;
}
table {
    width: 100%;
    color: white;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    font-size: 50px;
}
.types {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body, .bodyContainer, .PokeDopt_InfoContainer_Left, .PokeDopt_InfoContainer_Center, 
.PokeDopt_InfoContainer_Right, .PokeDopt_TitleContainer,
.PokeDopt_TitleImageOuterContainer, .PokeDopt_TitleImageInnerContainer,
.PokeDopt_TitleNameContainer, .PokeDopt_PokemonContainer, 
.PokeDopt_PokemonOuterCard, .PokeDopt_PokemonInnerCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url("images/pokemon_background.jpg");
    background-size: 100% 100%;
}

.bodyContainer {
    height: 90%;
    width: 95%;    
    background-color: RGBA(40,1,56,0.5);
    border-radius: 25px;
}

.PokeDopt_InfoContainer_Left, .PokeDopt_InfoContainer_Center, 
.PokeDopt_InfoContainer_Right {
    height: 100%;
    width: 33.33%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.PokeDopt_InfoContainer_Left {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    overflow: auto;
}

.PokeDopt_InfoContainer_Left::-webkit-scrollbar, .PokeDopt_InfoContainer_Right::-webkit-scrollbar {
    display: none;
}

.PokeDopt_InfoContainer_Center {
    justify-content: flex-end;
}

.PokeDopt_TitleContainer {
    padding-top: 50px;
    width: 100%;
    justify-content: center;
}
.PokeDopt_TitleImageOuterContainer {
    width: 200px;
    height: 200px;
    min-width: 200px;
    border: 5px solid black;
    border-radius: 100%;
    background-image: linear-gradient(to bottom right, #280137, #7A4190,#280137);
}
.PokeDopt_TitleImageInnerContainer {
    width: 150px;
    height: 150px;
    border: 5px solid black;
    border-radius: 100%;
    background-image: linear-gradient(to bottom right, #4E1764, #7A4190, #4E1764);
    box-shadow: 5px -5px 30px black inset;
}
.PokeDopt_TitleImage {
    width: 100px;
    height: 100px;
}

.PokeDopt_TitleNameContainer {
    border-radius: 50px;
    margin-left: 20px;
    position: relative;
}
.PokeDopt_TitleName {
    font-family: "BlackwoodCastleShadow";
    font-size: 135px;
    background: linear-gradient(to bottom right, #4E1764, #7A4190, #4E1764);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    letter-spacing: 5px;
    z-index: 1;
}
.PokeDopt_TitleNameBackground {
    font-family: "BlackwoodCastleShadow";
    font-size: 135px;
    color: purple;
    text-shadow: 0px 0px 25px black;
    letter-spacing: 5px;
    z-index: 0;
    position: absolute;
}

.PokeDopt_PokemonContainer {
    width: 100%;
    height: 100%;
}
.PokeDopt_PokemonOuterCard {
    background-image: linear-gradient(to bottom right, #280137, #7A4190,#280137);
    width: 90%;
    height: 90%;
    border: 5px solid black;
    border-radius: 100px;
    flex-direction: column;
    justify-content: flex-start;
}
.PokeDopt_PokemonInnerCard {
    background: linear-gradient(to bottom right, #4E1764, #7A4190, #4E1764);
    box-shadow: 0px 0px 50px black inset;
    width: 95%;
    height: 75%;
    border: 5px solid black;
    border-radius: 100px;
    margin: 2.5% 0;
}
.PokeDopt_PokemonImage {
    width: 90%;
    height: 90%;
}
.PokeDopt_PokemonNameContainer {
    width: 80%;
    height: 18.5%;
    text-align: center;
    box-shadow: 5px 5px 15px black inset;
    border-radius: 25px;
    border: 5px solid black;
}
.PokeDopt_PokemonName {
    font-family: "BlackwoodCastleShadow";
    font-size: 121px;
    color: black;
    letter-spacing: 5px;
}

.PokeDopt_InfoContainer_Right {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: auto;
}