@font-face {
    font-family: "BlackwoodCastleShadow";
    src: url("fonts/BlackwoodCastleShadow.ttf");
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body, .bodyContainer, .PokeDopt_InfoContainer_Left, .PokeDopt_InfoContainer_Center, 
.PokeDopt_InfoContainer_Right, .PokeDopt_TitleContainer,
.PokeDopt_TitleImageOuterContainer, .PokeDopt_TitleImageInnerContainer,
.PokeDopt_TitleNameContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url("images/pokemon_background.jpg");
    background-size: 100% 100%;
}

.bodyContainer {
    height: 90vh;
    width: 95vw;    
    background-color: RGBA(40,1,56,0.5);
    border-radius: 25px;
}

.PokeDopt_InfoContainer_Left, .PokeDopt_InfoContainer_Center, 
.PokeDopt_InfoContainer_Right {
    height: 100%;
    width: 33.33%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.PokeDopt_InfoContainer_Left {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.PokeDopt_InfoContainer_Center {
    background-color: blue;
}

.PokeDopt_TitleContainer {
    padding: 25px;
    width: 100%;
    justify-content: space-around;
    background-color: red;
}
.PokeDopt_TitleImageOuterContainer {
    width: 200px;
    height: 200px;
    border: 5px solid black;
    border-radius: 100%;
    background-image: linear-gradient(to bottom right, #280137, #7A4190,#280137);
}
.PokeDopt_TitleImageInnerContainer {
    width: 150px;
    height: 150px;
    border: 5px solid black;
    border-radius: 100%;
    background-image: linear-gradient(to bottom right, #4E1764, #7A4190, #4E1764);
    box-shadow: 5px -5px 30px black inset;
    flex-direction: column;
}
.PokeDopt_TitleImage {
    width: 100px;
    height: 100px;
}

.PokeDopt_TitleNameContainer {
    border-radius: 50px;
    padding: 10px;
    position: relative;
}
.PokeDopt_TitleName {
    font-family: "BlackwoodCastleShadow";
    font-size: 135px;
    background: linear-gradient(to bottom right, #4E1764, #7A4190, #4E1764);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    letter-spacing: 5px;
    z-index: 1;
    /* position: absolute; */
}
.PokeDopt_TitleNameBackground {
    /* display: none; */
    font-family: "BlackwoodCastleShadow";
    font-size: 135px;
    color: purple;
    text-shadow: 0px 0px 25px black;
    /* margin-left: -480px; */
    /* margin-top: -175px; */
    letter-spacing: 5px;
    z-index: 0;
    position: absolute;
}

.PokeDopt_PokemonContainer {
    background-color: yellow;
    width: 100%;
}
.PokeDopt_PokemonOuterCard {
    
}

.PokeDopt_InfoContainer_Right {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
/* 
.pokemonImageLeft, .pokemonImageRight {
    margin: 25px;
    margin-left: 0px;
    height: 200px;
    width: 200px;
    border: 5px solid #280137;
    border-radius: 100%;
}
.pokemonImageRight
{
    margin-left: 25px;
    margin-right: 0px;
}
.pokemonName {
    font-size: 125px;
    color: ghostwhite;
    background-color: #280137;
    border-radius: 10px;
    padding: 0px 20px;
    font-family: "BlackwoodCastleShadow";
}
.pokemoneTitleImage {
    margin: 15px;
    width: 500px;
    height: 500px;
}
a {
    display: none;
    font-size: 25px;
    color: ghostwhite;
} */