@font-face {
    font-family: "BlackwoodCastle";
    src: url("../week2/fonts/BlackwoodCastle.ttf");
}

@font-face {
    font-family: "BlackwoodCastleShadow";
    src: url("../week2/fonts/BlackwoodCastleShadow.ttf");
}

*  {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: ghostwhite;
}

body {
    background: black url("../week2/images/pokemon_background.jpg") center no-repeat border-box border-box fixed;
    background-size: 100vw 100vh;
    height: 100vh;
}

header, aside, main, footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    background-color: rgba(49,0,71,0.95);
    box-shadow: 0px 0px 50px black inset;
    padding: 25px;
    height: 15vh;
    overflow: hidden;
}

header > h1.headerTitle {
    font-size: 75px;
    font-family: "BlackwoodCastleShadow";
    color: ghostwhite;
    text-shadow: 0px 0px 10px black;
}

main {
    height: 77.5vh;
    display: flex;
    flex-direction: row;
}

main > aside {
    padding: 15px;
    height: inherit;
    justify-content: flex-start;
}

main > aside > a.links {
    border-radius: 25px;
    background-color: rgba(49,0,71,0.95);
    box-shadow: 0px 0px 50px black inset;
    margin: 5px;
    padding: 10px;
    width: 100%;
    text-decoration: none;
}

main > aside > a.links > p.linkName {
    font-size: 35px;
    font-family: "BlackwoodCastleShadow";
    color: ghostwhite;
    text-shadow: 0px 0px 10px black;
}

main > aside > button.switchMode {
    border-radius: 25px;
    margin-top: 15px;
    padding: 10px;
}

main > aside > button.switchMode > h5.buttonName {
    color: black;
}


section {
    height: inherit;
}

footer {
    background-color: rgba(49,0,71,0.95);
    box-shadow: 0px 0px 50px black inset;
    height: 7.5vh;
}

footer > h6.footerTitle {
    font-size: 35px;
    font-family: "BlackwoodCastleShadow";
    color: ghostwhite;
    text-shadow: 0px 0px 10px black;
}
/* a {
    color: whitesmoke;
    font-size: 50px;
}

body {
    background: black url("../week2/images/pokemon_background.jpg") center no-repeat padding-box padding-box fixed;
    background-size: 100vw 100vh;
}

#header {
    margin: 10px;
    background-color: rgba(49,0,71);
    padding: 25px;
    box-shadow: 0px 0px 50px black inset;
}

#headerTitle {
    text-align: center;
    font-size: 75px;
    
    font-family: "BlackwoodCastleShadow";
    color: black;
    text-shadow: 0px 0px 10px ghostwhite;
}

#links {
    height: ;
}

.businessfy {
    width: 80%;
    font-size: 25px;
}

.businessfy:active {
    body
}

#links {
    background-color: red;
    float: left;
}

#info {
    background-color: orange;
    float: left;
}

#trivia {
    background-color: purple;
    float: left;
}

@media only screen and (max-width: 700px) {
    body {
        background-color: blue;
    }
} */

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}