@font-face {
    font-family: "BlackwoodCastle";
    src: url("../week2/fonts/BlackwoodCastle.ttf");
}

@font-face {
    font-family: "BlackwoodCastleShadow";
    src: url("../week2/fonts/BlackwoodCastleShadow.ttf");
}

*  {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

a {
    color: whitesmoke;
    font-size: 50px;
}

body {
    margin: 10px;
    background: black url("../week2/images/pokemon_background.jpg") center no-repeat padding-box padding-box fixed;
    background-size: 100vw 100vh;
}

#header {
    background-color: rgba(49,0,71);
    padding: 25px;
    box-shadow: 0px 0px 50px black inset;
}

#headerTitle {
    text-align: center;
    font-size: 75px;
    
    font-family: "BlackwoodCastleShadow";
    color: black;
    text-shadow: 0px 0px 10px ghostwhite;
}

#links {
    height: ;
}

.businessfy {
    width: 80%;
    font-size: 25px;
}

.businessfy:active {
    body
}

#links {
    background-color: red;
    float: left;
}

#info {
    background-color: orange;
    float: left;
}

#trivia {
    background-color: purple;
    float: left;
}

@media only screen and (max-width: 700px) {
    body {
        background-color: blue;
    }
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}