/* Variables */
/* :root {
    --primary: rgba(49,0,71,1);
    
} */
/* Variables */

/* Reset */

/* Base Style */
nav {
    min-height: 6%;
}
main {
    min-height: 90%;
}
footer {
    min-height: 4%;
}
.modal-dialog {
    height: 100vh;
    width: 100vw;
}
.form-control::-webkit-input-placeholder {
    color: white;
}
.navbar-toggler {
    display: inline !important;
}
div#navbarLogo:hover * img {
    filter: brightness(0);
}
div.main {
    overflow: auto;
    flex: 1;
}
div.main::-webkit-scrollbar {
    display: none;
}
.card img {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom: 1px solid;
}
div.side-shrunk {
    position: static;
    height: 100vh;
    width: 5rem;
}
div.side-shrunk span {
    display: none;
}
/* Base Style */

/* Fonts */
/* @font-face {
    font-family: "BlackwoodCastle";
    src: url("../week2/fonts/BlackwoodCastle.ttf");
}

@font-face {
    font-family: "BlackwoodCastleShadow";
    src: url("../week2/fonts/BlackwoodCastleShadow.ttf");
} */
/* Fonts */

/* Extra Small Breakpoint */
div.main {
    height: calc(100vh - 130px);
}
.carousel-buttons {
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.carousel-buttons::-webkit-scrollbar {
    display: none;
}

.carousel-buttons button {
    scroll-snap-align: start;
    height: 5rem;
    width: 5rem;
}

.carousel-buttons button:nth-child(2),
.carousel-buttons button:nth-child(3),
.carousel-buttons button:nth-child(5) {
    width: 7rem;
}

.carousel-buttons button:nth-child(2) img {
    filter: brightness(0%) invert(1);
    width: 2.5rem;
}

.carousel-buttons button:nth-child(3) img {
    width: 3rem;
}

.carousel-buttons button:nth-child(4) {
    width: 6.5rem;
}

.carousel-buttons button:nth-child(4) img {
    filter: brightness(0%) invert(1);
    width: 3.5rem;
}

.carousel-buttons button:nth-child(6) {
    width: 6.75rem;
}
/* Extra Small Breakpoint */

/* Small Breakpoint */
@media screen and (min-width: 576px) {
    
}

/* Medium Breakpoint */
@media screen and (min-width: 768px) {
    div.main {
        height: 100vh;
    }
    nav.navbar {
        border-bottom: 1.5px solid white;
    }
    footer {
        border-top: 1.5px solid white;
    }
    div#side {
        border-right: 1.5px solid white;
    }
    div.side-expanded {
        position: static;
        height: 100vh;
        width: 7rem;
    }
    .carousel-buttons {
        overflow-x: visible;
        scroll-snap-type: none;
    }
    .carousel-buttons button {
        border-radius: 0;
        border: 0;
        border-bottom: 1px solid;
    }
    .carousel-buttons button:nth-child(7) {
        border: 0;
        border-top: 1px solid;
    }
    div.side-expanded .carousel-buttons button {
        width: 7rem !important;
    }
    div.side-shrunk .carousel-buttons button {
        width: 5rem !important;
        padding: 0 !important;
    }
}

/* Large Breakpoint */
@media screen and (min-width: 992px) {
    main .card  {
        /* height: 10px; */
        min-height: 670px;
        max-height: 670px;
    }

    main .card img  {
        min-height: 200px;
        max-height: 200px;
    }

    main .display-5 {
        overflow: auto;
        height: 300px;
        padding-right: 10px;
    }

    main .display-5::-webkit-scrollbar {
        width: 10px;
        background-color: #343a40;
    }
      
    main .display-5::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #4e555b;
    }
      
    main .display-5::-webkit-scrollbar-thumb:hover {
        background-color: #454d55;
    }
      
    main .display-5::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}

/* Extra Large Breakpoint */
@media screen and (min-width: 1200px) {
    .display-3 {
        font-size: 3rem;
    }
    
    main .card  {
        min-height: 500px;
        max-height: 500px;
    }

    main .display-5 {
        overflow: auto;
        height: 100px;
        padding-right: 10px;
    }
}

/* Extra Extra Large Breakpoint */
@media screen and (min-width: 1400px) {
    .display-3 {
        font-size: 2.75rem;
    }

    .main main {
        height: 90vh !important;
    }
}